<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cập nhật FAQ</title>

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">

    <ul th:replace="~{admin/sidebar :: sidebar}"></ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            </nav>

            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800" th:text="${isEdit} ? 'Chỉnh sửa FAQ' : 'Thêm FAQ Mới'"></h1>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin chi tiết</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/faq/save}" th:object="${faq}" method="post">

                            <input type="hidden" th:field="*{maFaq}">

                            <div class="form-group">
                                <label>Tiêu đề câu hỏi <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" th:field="*{tieuDe}" required placeholder="Nhập tiêu đề câu hỏi...">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Chủ đề</label>
                                    <select class="form-control" th:field="*{chuDe}">
                                        <option value="Học phí">Học phí</option>
                                        <option value="Tín chỉ">Tín chỉ</option>
                                        <option value="Thủ tục">Thủ tục hành chính</option>
                                        <option value="Khác">Khác</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Năm học áp dụng</label>
                                    <input type="text" class="form-control" th:field="*{namHoc}" placeholder="VD: 2025-2026">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Áp dụng cho Khoa</label>
                                    <select class="form-control" th:field="*{khoaVien}">
                                        <option value="">-- Tất cả --</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                        <option value="Truyền thông đa phương tiện">Truyền thông đa phương tiện</option>
                                        <option value="Luật Kinh tế">Luật Kinh Tế</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Áp dụng cho Khóa</label>
                                    <select class="form-control" th:field="*{khoaHoc}">
                                        <option value="">-- Tất cả --</option>
                                        <option value="K34">K34</option>
                                        <option value="K35">K35</option>
                                        <option value="K36">K36</option>
                                        <option value="K37">K37</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Nội dung trả lời chi tiết <span class="text-danger">*</span></label>
                                <textarea class="form-control" th:field="*{noiDung}" rows="6" required placeholder="Nhập nội dung trả lời..."></textarea>
                            </div>

                            <hr>
                            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-save"></i></span>
                                <span class="text">Lưu Lại</span>
                            </button>
                            <a th:href="@{/admin/faq}" class="btn btn-secondary btn-icon-split">
                                <span class="text">Hủy bỏ</span>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2025</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>
</html>
