<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Biểu mẫu Lớp học</title>

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/lop">
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>

            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800" th:text="${isEdit} ? 'Chỉnh sửa Lớp' : 'Thêm Lớp Mới'"></h1>

                <div class="card shadow mb-4">
                    <div class="card-body">

                        <form th:action="${isEdit} ? @{/admin/lop/update/{id}(id=${lopRequest.maLop})} : @{/admin/lop/save}"
                              th:object="${lopRequest}" method="post">

                            <div class="form-group">
                                <label>Mã Lớp</label>
                                <input type="text" class="form-control" th:field="*{maLop}"
                                       placeholder="Nhập mã lớp"
                                       th:readonly="${isEdit}">
                                <small class="text-danger" th:if="${#fields.hasErrors('maLop')}" th:errors="*{maLop}"></small>
                            </div>

                            <div class="form-group">
                                <label>Khóa Học</label>
                                <input type="text" class="form-control" th:field="*{khoaHoc}" placeholder="Nhập khóa">
                            </div>

                            <div class="form-group">
                                <label>Chuyên Ngành</label>
                                <input type="text" class="form-control" th:field="*{chuyenNganh}" placeholder="Nhập chuyên ngành">
                            </div>

                            <div class="form-group">
                                <label>Cố vấn học tập</label>
                                <select class="form-control" th:field="*{maCvht}">
                                    <option value="">-- Chọn Cố vấn học tập --</option>

                                    <th:block th:each="cvht : ${listCvht}">
                                        <option th:value="${cvht.maCv}"
                                                th:text="${cvht.maCv + ' - ' + cvht.hoTen}">
                                        </option>
                                    </th:block>
                                </select>
                            </div>

                            <hr>
                            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">Lưu Lại</span>
                            </button>
                            <a th:href="@{/admin/lop}" class="btn btn-secondary btn-icon-split">
                                <span class="text">Hủy Bỏ</span>
                            </a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>